# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.venv/
venv/

# Django
/staticfiles/
media/
*.log

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# Docker
docker-compose.override.yml
.docker/pgdata/
.docker/*.pid
.docker/*.sock

# Coverage/Build
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db
